{% extends "parents/base.j2" %}
{% block content %}

<div class="container">
    <h2 class="fw-light mt-5">Über das Projekt</h2>

    <div class="row mt-5">
        <h4 class="fw-light">Projektbeschreibung</h4>
        <p>MEMO Digitales Gedenkbuch...</p>
    </div>

    <div class="row mt-5">
        <h4 class="fw-light">Das Projektteam</h4>
        <p>
            Team
        </p>
    </div>

</div>
    {# <pre>{{ context | tojson(indent=2) }}</pre> #}

{% endblock %}