{% extends "parents/base.j2" %}
{% block content %}

<h1 data-i18n="nav.cite" class="h3">Zitierhilfe</h1>
<p data-i18n="citation.description">Für die Zitation von MEMOR ist die Angabe des <b>Permalinks der Forschungsdaten</b> (MEMOR benutzt DOIs) essentiell - zum Beispiel:</p>
<div class="row">
    <div class="col-lg-6">
        <p style="border-radius: 1px; padding: 25px; align-items: center; background-color: lightblue;">Heimo Halbrainer, Marco Jandl, Gerald Lamprecht, Heribert Macher-Kroisenbrunner, Sebastian David Schiller-Stoff: MEMOR - Das Digitale Gedenkbuch der Stadt Graz: Zitierhilfe; 2026 Graz; GAMS-Geisteswissenschaftliches Asset Management System | Universität Graz; URL: https://www.ns-opfer-graz.at/citation.html; <span id="citationDate"></span>  DOI/Permalink zu den Forschungsdaten: <a class="text-dark" href="https://doi.org/10.5281/zenodo.20510043" target="_blank">10.5281/zenodo.20510043</a></p>
    </div>
</div>

<script>

    (() => {

        let citationDateSpan = document.getElementById("citationDate");
        citationDateSpan.textContent = `(UTC: ${new Date().toUTCString()})`;

    })();

</script>


{% endblock %}