{% extends "parents/base.j2" %}
{% block content %}

<h1 data-i18n="nav.citation" class="h3">Zitierhilfe</h1>
<p>Für die Zitation von MEMOR ist die Angabe des <b>Permalinks der Forschungsdaten</b> (MEMOR benutzt DOIs) essentiell - zum Beispiel:</p>
<div class="row">
    <div class="col-lg-6">
        <p style="border-radius: 1px; padding: 25px; align-items: center; background-color: lightblue;">Lamprecht, Gerald; Schiller-Stofff Sebastian David; MEMOR - Das Digitale Gedenkbuch der Stadt Graz: Zitierhilfe; 2026 Graz; URL: https://www.ns-opfer-graz.at/citation.html;  DOI/Permalink zu den Forschungsdaten: -</p>
    </div>
</div>

{% endblock %}