{% extends "parents/base.j2" %}
{% block content %}

<h1 data-i18n="data_protection.title" class="h3">Datenschutz</h1>

<h2 class="h4">Datenschutzerklärung</h2>

<h3 class="h5">Beschreibung und Umfang der Datenverarbeitung</h3>

<p>Bei Aufruf der Webseiten MEMORs der Universität Graz speichern unsere Webserver temporär jeden Zugriff in einer Protokolldatei. Folgende Daten werden erfasst und bis zur automatisierten Löschung gespeichert:</p>

<ul>
    <li>IP-Adresse des anfragenden Rechners</li>
    <li>Datum und Uhrzeit des Zugriffs</li>
    <li>Name und URL der abgerufenen Daten</li>
    <li>Übertragene Datenmenge</li>
    <li>Meldung, ob der Abruf erfolgreich war</li>
    <li>Erkennungsdaten des verwendeten Browser- und Betriebssystems</li>
    <li>Webseite, von der aus der Zugriff erfolgt</li>
</ul>

<p>Die Daten werden für Zwecke statistischer Berichtslegung bis zu einem Zeitraum von einem Jahr gespeichert.</p>

<h3 class="h5">Zweck der Datenverarbeitung</h3>

<p>Die Verarbeitung dieser Daten erfolgt zum Zweck, die Nutzung der Webseite (Verbindungsaufbau), die Systemsicherheit und die technische Administration der Netzinfrastruktur zu gewährleisten. Zudem dient die Verarbeitung der Optimierung des Internetangebotes. Die IP-Adresse wird nur bei Angriffen auf unsere Netzinfrastruktur ausgewertet.</p>

<h3>Rechtsgrundlage der Datenverarbeitung</h3>

<p>Die Verarbeitung der oben genannten Daten erfolgt dabei insbesondere auf Grund des bestehenden überwiegenden berechtigten Interesses (Art 6 Abs 1 lit f DS-GVO) der Universität Graz an der Erfüllung dieses Zweckes.</p>

<p>Weitere Informationen zum Datenschutz an der Universität Graz finden Sie in der ausführlichen <a href="https://www.uni-graz.at/de/datenschutzerklaerung/" target="_blank">Datenschutzerklärung</a>.</p>

{% endblock %}