{% extends "parents/base.j2" %}
{% block content %}
    <h1 class="h3 fw-light">Datenmodell</h1>

    <div class="row">
        <div class="col-md-9">
            <p>In MEMOR Graz sind alle Opfer des Nationalsozialismus verzeichnet, die zum Zeitpunkt der NS-Machtübernahme im Jahr 1938 im Grazer Stadtgebiet ihren Lebensmittelpunkt hatten. Sie werden in MEMOR Graz an ihren letzten freiwilligen Wohnadresse erfasst und biographisch vorgestellt. Weiters werden sie entsprechend der Gründe ihrer Verfolgung in Gruppen unterteilt. Auf Grund der Tatsache, dass Menschen teils mehrfach vom nationalsozialistischen Terror betroffen waren, werden manche NS-Opfer mehreren Kategorien zugeordnet.</p>
            <h3 class="h5">Widerstand</h2>
            <p>Es handelt sich um Personen, die aus nachfolgenden Gründen Widerstand gegen den Nationalsozialismus leisteten und ermordet wurden:</p>
            <ul>
                <li>Politisch: auf Grund ihrer politischen Überzeugun</li>
                <li>Religiös: auf Grund ihrer religiösen Überzeugung</li>
                <li>Individuell: auf Grund individueller moralischer oder ethischer Überzeugungen</li>
            </ul>
            <h3 class="h5">NS-Gegner</h3>
            <p>Es handelt sich um Personen, die von den Nationalsozialisten als politische Gegner vor 1938 unmittelbar nach der NS-Machtübernahme verfolgt wurden oder die während der NS-Zeit als politisch Verdächtige in Konzentrationslager kamen.</p>
            <h3 class="h5">Jüdische Opfe</h3>
            <p>Es handelt sich um Personen, die von den Nationalsozialisten auf Basis der „Nürnberger Rassengesetze“ verfolgt wurden</p>
            <h3 class="h5">Roma/Romnija und Sinti/Sintize</h3>
            <p>Es handelt sich um Personen, die als so genannte „Zigeuner“ verfolgt wurden.</p>
            <h3 class="h5">Opfer der NS-Euthanasie</h3>
            <p>Es handelt sich um Personen, die im Rahmen der NS-Euthanasie ermordet wurden.</p>
            <h3 class="h5">Als homosexuell Verfolgt</h3>
            <p>Es handelt sich um Personen, die aufgrund ihrer sexuellen Orientierung in Konzentrationslager kamen und dort ermordet wurden.</p>
            <h3 class="h5">Als „asozial“ Verfolgte</h3>
            <p>Es handelt sich um Personen, die als sogenannte „Asoziale“ ermordet wurden.</p>
        </div>
    </div>

{% endblock %}