{% extends "parents/base.j2" %}
{% block content %}
<div class="container">

    <h1 class="h3 fw-light mt-5">Datenmodell</h1>
        <p>This allows to create custom HTML pages without any objects bound to them</p>

    <div class="row mt-5">
        <p>X</p>
    </div>

</div>
    
{% endblock %}