{% extends "parents/base.j2" %}
{% block content %}

    <h1 class="h3 fw-light">Die "Logik der Vernichtung"</h1>
    
    <div class="row">
        <div class="col-lg-6">
            <p>Die folgende Statistik zeigt die Verteilung der Distanzen zwischen den Todesorten und den jeweiligen letzten freiwillen Wohnadressen.</p>
        </div>
    </div>

    {% include "includes/memor_death_distance.j2" %}

{% endblock %}