{% extends "parents/base.j2" %}
{% block content %}
    <h1 data-i18n="geobrowser.title" class="h3 fw-light">Räumlich-zeitliche Analyse</h1>
    <div class="row">
        <div class="col-lg-6">
            <p data-i18n="geobrowser.description">Diese Karte zeigt die gesamten personenbezogenen Ereignisse erfasst durch das MEMOR-Projekt: Freiwillige Wohnhaftigkeit, erzwungene Wohnhaftigkeit und Todesfälle.</p>
        </div>
    </div>
    <div class="mb-md-2">
        <a target="_blank" href="{{context.env.GAMS_API_ORIGIN}}/api/curation/v1/projects/{{context.project.projectAbbr}}/objects/{{context.project.projectAbbr}}.person-register/datastreams/EVENTS.csv/content" class="btn btn-outline-secondary text-dark" data-bs-toggle="tooltip" data-bs-title="Forschungsdaten der Karte als CSV downloaden."><svg class="me-1 mb-1" width="20px" height="20px" stroke-width="1.5" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg" color="#000000"><path d="M6 20L18 20" stroke="#000000" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path><path d="M12 4V16M12 16L15.5 12.5M12 16L8.5 12.5" stroke="#000000" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path></svg>Download CSV</a>
        <a target="_blank" href="{{context.env.GAMS_API_ORIGIN}}/api/curation/v1/projects/{{context.project.projectAbbr}}/objects/{{context.project.projectAbbr}}.person-register/datastreams/EVENTS.csv" class="btn btn-outline-secondary text-dark" data-bs-toggle="tooltip" data-bs-title="Metadaten zur CSV der Kartenanwendung."><svg class="me-1 mb-1" width="20px" height="20px" stroke-width="1.5" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg" color="#000000"><path d="M5 12V18C5 18 5 21 12 21C19 21 19 18 19 18V12" stroke="#000000" stroke-width="1.5"></path><path d="M5 6V12C5 12 5 15 12 15C19 15 19 12 19 12V6" stroke="#000000" stroke-width="1.5"></path><path d="M12 3C19 3 19 6 19 6C19 6 19 9 12 9C5 9 5 6 5 6C5 6 5 3 12 3Z" stroke="#000000" stroke-width="1.5"></path></svg>Metadaten</a>
    </div>
    <embed style="width:100%; height:200vh; border:none;" class="frame" type="text/html" src="//geobrowser.de.dariah.eu/embed/index.html?csv={{context.env.GAMS_API_ORIGIN}}/api/curation/v1/projects/{{context.project.projectAbbr}}/objects/{{context.project.projectAbbr}}.person-register/datastreams/EVENTS.csv/content"/>
{% endblock %}