{% extends "parents/base.j2" %}
{% block content %}

<h1 data-i18n="help.title" class="h3">Hilfe &amp; Rückmeldungen</h1>
<br>

<p data-i18n="help.main">Sollten Sie Hilfe zur Benutzung von MEMOR benötigen sowie inhaltliche Anliegen, Anregungen oder Fragen haben, so freuen wir uns, wenn Sie mit uns in Kontakt treten.</p>
<p><span data-i18n="help.mail">Bitte schreiben Sie an:</span> <a href="mailto:memor.graz@uni-graz.at">memor.graz@uni-graz.at</a></p>

{% endblock %}