{% extends "parents/base.j2" %}
{% block content %}
    <h1 class="h3 fw-light">Volltextsuche</h1>
    <p>Personen des MEMO Projekts.</p>

    <script src="https://unpkg.com/dexie/dist/dexie.js"></script>

    <script src="/memo/static/js/projectDB.js"></script>

    <script>
    
        window.gams.projectDB.initDB("{{project.projectAbbr}}")

        document.addEventListener("projectDB_populated", function(event) {
            console.log("DB ready", event)
            let searchString = new URL(window.location.href).hash.replace("#/", "")

            let spinnerElem = document.getElementById("spinner");
            let resultCountElem = document.getElementById("resultCount");
            let resultCount = 0;

            // fulltext search based on individual entries found
            window.gams.projectDB.fulltextSearch(searchString, (digitalObject) => {
                spinnerElem.style.display = "none";
                console.log(digitalObject);
                //let html = `<ul>${digitalObjects.map(digitalObject => `<li><a href='/memo/objects/${digitalObject.db.id}'>${digitalObject.db.baseMetadata.title}</a></li>`).join('')}</ul>`
                let html = `<li><a href='/memo/objects/${digitalObject.db.id}'>${digitalObject.db.baseMetadata.title}</a></li>`
                document.getElementById("result").innerHTML += html
                resultCount++;
                resultCountElem.innerHTML = resultCount;
            })


            // dc type based search
            console.log("Project DB is populated --> Doing now a dc type based search");
            gams.projectDB.dcTypeSearch("person", (val) => {
                //console.log(val);
                sdocument.getElementById("result").innerHTML += `${val.db.id}<br/>`
            })

        });


    </script>

    <p>Suchergebnisse: <b id="resultCount">0</b></p>
    <div id="result">
        <div id="spinner" class="spinner-border" role="status">
            
        </div>
        
    </div>
    
{% endblock %}