{% extends "parents/base.j2" %}
{% block content %}
    <h1 class="h3 fw-light">Volltext - XSL Suche</h1>
    <p>Personen des MEMO Projekts.</p>

    <p>{{env}}</p>


    <p>Suchbegriff: <b id="searchQueryDisplay"></b></p>
    <p>Suchergebnisse: <b id="resultCount">0</b></p>

    <div id="saxonjs_container"></div>

    
    <div id="searchSpinner">
        <div id="spinner" class="spinner-border" role="status">
            
        </div>
        
    </div>

    <script>

        window.onload = () => {
                console.log(SaxonJS.getProcessorInfo().productName + " " +
                SaxonJS.getProcessorInfo().productVersion + " " + SaxonJS.getProcessorInfo().releaseDate);
                SaxonJS.transform({
                    stylesheetLocation: "/memo/static/xsl/memo-fulltext-search.sef.json",
                    sourceLocation: `{{env.GAMS_API_ORIGIN}}/api/v1/integration/gsearch/fulltext?format=xml`,
                    logLevel: 2
                },
            "async").then(result => {
                document.getElementById("spinner").style = "display: none";
            });
        }



    </script>

    
    
{% endblock %}