{% extends "parents/base.j2" %}
{% block content %}

<h1 class="h3 fw-light">Testing page for MEMOR</h1>

{{context.env.GAMS_API_ORIGIN}}

<script>


    /**
    * Tests if the IIIF info.json contains the server origin.
    *
    */
    const testIfIIIFInfoJsonContainsExpectedValues = async () => {

        let gamsApiOrigin = "{{context.env.IIIF_IMAGE_SERVER_ORIGIN}}";

        let testIIIFInfoJsonUrl = "{{context.env.IIIF_IMAGE_SERVER_ORIGIN}}/iiif/2/memor%2fmemor.person.9%2f2.jpg";

        let resp = await fetch(testIIIFInfoJsonUrl);
        let jsonBody = await resp.json();

        let iiifId = jsonBody["@id"];

        console.assert(
            iiifId.includes(gamsApiOrigin), 
            `Cannot find expected  ${gamsApiOrigin} in IIIF info json @id field - got: ${iiifId}. Most likey this is a misconfiguration of the gams proxy setup (x-forwarded-host not correctly set). Tested url: ${testIIIFInfoJsonUrl}`,
            jsonBody
        );


    }

    /**
    * Test if a normal image is reachable via the image api
    */
    const defaultIIIFImageIsReachable = async () => {
        let iiifOrigin = "{{context.env.IIIF_IMAGE_SERVER_ORIGIN}}";
        let testUrl = `${iiifOrigin}/iiif/3/memor%2fmemor.person.64%2f1.jpg/full/max/0/default.jpg`;
        let resp;
        try {
            resp = await fetch(testUrl); 
        } catch (e) {
            console.error("Testing error: Failed to reach IIIF api at ", testUrl);
            return;
        }
        
        if (!resp.ok){
            console.error("Testing error: Failed to load IIIF resource at ", testUrl, "Got status code: ", resp.status, " and text: ", resp.statusText);
        }

    }




    (async () => {


        await testIfIIIFInfoJsonContainsExpectedValues();
        await defaultIIIFImageIsReachable();

        // test if infor json does not contain



    })();


</script>


{% endblock %}