{% extends "parents/base.j2" %}
{% block content %}
    <script>
        if (window.location.href.includes("memo.person.")){
            let matches = window.location.pathname.match(/(\d+)/);
            window.onload = function () {
                console.log(SaxonJS.getProcessorInfo().productName + " " +
                SaxonJS.getProcessorInfo().productVersion + " " + SaxonJS.getProcessorInfo().releaseDate);
                SaxonJS.transform({
                   stylesheetLocation: "/xsl/object-rdf.sef.json",
                   sourceLocation: `http://localhost:18085/api/v1/projects/memo/objects/memo.person.${matches[0]}/datastreams/RDF.xml/content`,
                   logLevel: 2
                },
                "async");
             }
        }
     </script>
    <h1 class="h3 fw-light">{{ object.db.baseMetadata.title }}</h1>
    <p>Information zu einer einzelnen Person erfasst im MEMO Projekt.</p>
    <div class="border container pt-2">
        <img onerror="this.src='https://gams.uni-graz.at/templates/img/gams_solo_weiss.png'" alt="Image missing"class="border bg-dark rounded" style="max-width: 20%; max-height:8em;" src="{{'http://localhost:18085/api/v1/projects/memo/objects/' +  object.db.id + '/datastreams/1.jpg/content' }}"/>
        <img onerror="this.src='https://gams.uni-graz.at/templates/img/gams_solo_weiss.png'" alt="Image missing"class="border bg-dark rounded" style="max-width: 20%; max-height:8em;" src="{{'http://localhost:18085/api/v1/projects/memo/objects/' +  object.db.id + '/datastreams/2.jpg/content' }}"/>
        <table class="table mt-4 mb-5">
            <thead>
                <tr>
                    <th scope="col">Name</th>
                    <th scope="col">Todesdatum</th>
                    <th scope="col">Typ</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>{{ object.db.baseMetadata.title }}</td>
                    <td>{{ object.dc.date[0][0:10] }}</td>
                    <td>{{ object.dc.type[0]}}</td>
                </tr>
            </tbody>
        </table>
        

        <h2 class="h4 fw-light">Beschreibung</h1>
        <p>{{ object.db.baseMetadata.description }}</p>

        <br/>
        
        

        <p>Rendered by saxonjs:</p>
        <div id="saxonjs_container"></div>

        {# Demo for using the auto-mapped xml via web-components #}
        {{ object.component_map.rdf }}
        {{ object.component_map.dc }}
    </div>
    
    

    

    {% if 'material' in object.db.id %}
            {% include "custom/material.j2" %}
    {% endif %}

{% endblock %}