{% extends "parents/base.j2" %}
{% import 'macros/dc_stats.j2' as macros with context %}
{% block content %}
    {# <h1>{{ project.projectTitle }}</h1> #}
    <h1>MEMO</h1>
    {# <h2 class="h3 fw-light">{{ project.projectSubTitle }}</h2> #}
    <h2 class="h3 fw-light">Digitales Memobuch der Stadt Graz</h2>
    <hr/>
    <p>{{ project.projectDesc }}</p>

    <div>
        <img src="http://localhost:18080/iiif/2/memo%2fmemo.person.99%2f1.jpg/full/,300/0/default.jpg" alt="...">
        <img src="http://localhost:18080/iiif/2/memo%2fmemo.person.30%2f1.jpg/full/,300/0/default.jpg" alt="...">
        <img src="http://localhost:18080/iiif/2/memo%2fmemo.person.30%2f2.jpg/full/,300/0/default.jpg" alt="...">
        <img src="http://localhost:18080/iiif/2/memo%2fmemo.person.19%2f1.jpg/full/,300/0/default.jpg" alt="...">
        <img src="http://localhost:18080/iiif/2/memo%2fmemo.person.84%2f2.jpg/full/,300/0/default.jpg" alt="...">
        <img src="http://localhost:18080/iiif/2/memo%2fmemo.person.81%2f1.jpg/full/,300/0/default.jpg" alt="...">
        <img src="http://localhost:18080/iiif/2/memo%2fmemo.person.81%2f2.jpg/full/,300/0/default.jpg" alt="...">
        <img src="http://localhost:18080/iiif/2/memo%2fmemo.person.47%2f1.jpg/full/,300/0/default.jpg" alt="...">
        <img src="http://localhost:18080/iiif/2/memo%2fmemo.person.47%2f2.jpg/full/,300/0/default.jpg" alt="...">
        <img src="http://localhost:18080/iiif/2/memo%2fmemo.person.16%2f1.jpg/full/,300/0/default.jpg" alt="...">
        <img src="http://localhost:18080/iiif/2/memo%2fmemo.person.36%2f1.jpg/full/,300/0/default.jpg" alt="...">
        <img src="http://localhost:18080/iiif/2/memo%2fmemo.person.21%2f1.jpg/full/,300/0/default.jpg" alt="...">
        <img src="http://localhost:18080/iiif/2/memo%2fmemo.person.369%2f1.jpg/full/,300/0/default.jpg" alt="...">
        <img src="http://localhost:18080/iiif/2/memo%2fmemo.person.15%2f1.jpg/full/,300/0/default.jpg" alt="...">
    </div>

    <br/>
    <hr/>

    <p>Statistiken zum MEMO Projekt:</p>
    <div id="searchResults"></div>
    {{ macros.dc_stats('searchResults') }}

{% endblock %}