{% extends "parents/base.j2" %}
{% block content %}
    {# <h1>{{ project.projectTitle }}</h1> #}
    <h1>MEMO</h1>
    {# <h2 class="h3 fw-light">{{ project.projectSubTitle }}</h2> #}
    <h2 class="h3 fw-light">Digitales Memobuch der Stadt Graz</h2>
    <hr/>
    <p>{{ project.projectDesc }}</p>
{% endblock %}