{% from 'macros/object_viewer.j2' import object_viewer with context %}
{% from 'macros/object_dynamic_viewer.j2' import object_dynamic_viewer with context %}


<h1 class="h3 fw-light">{{ context.object.baseMetadata.title | replace("(person description)", "") }}</h1>
<p class="pb-0 mb-1">Information zu einer einzelnen Person erfasst im MEMO Projekt.</p>
<div>
    <a target="_blank" href="{{context.env.GAMS_API_ORIGIN}}/api/v1/projects/{{context.project.projectAbbr}}/objects/{{context.object.id}}/datastreams/RDF.xml/content"><img alt="RDF" height="30" id="rdf" src="{{context.env.DANGEROUS_GAMS3_PRODUCTION_ORIGIN}}/templates/img/RDF_icon.png" title="RDF"></a> 
    <a target="_blank" href="{{context.env.GAMS_API_ORIGIN}}/api/v1/projects/{{context.project.projectAbbr}}/objects/{{context.object.id}}/datastreams/DC.xml/content"><img alt="RDF" height="30" id="rdf" src="https://upload.wikimedia.org/wikipedia/commons/7/7e/DCMI-logo.svg" title="DC"></a>
    <a target="_blank" href="{{context.env.GAMS_API_ORIGIN}}/api/v1/projects/{{context.project.projectAbbr}}/objects/{{context.object.id}}"><img alt="RDF" height="30" id="rdf" src="{{context.env.DANGEROUS_GAMS3_PRODUCTION_ORIGIN}}/templates/img/gams_solo.png" title="Object metadata in the CMS system"></a>
</div>
{# <pre>{{ context | tojson(indent=2) }}</pre> #}
<div>
    <hr/>
    <ul class="nav nav-pills nav-fill" id="myTab" role="tablist">
        <li class="nav-item" role="presentation">
            <button class="nav-link active" id="home-tab" data-bs-toggle="tab" data-bs-target="#home-tab-pane" type="button" role="tab" aria-controls="home-tab-pane" aria-selected="true">Übersicht</button>
        </li>
        <li class="nav-item" role="presentation">
            <button class="nav-link" id="profile-tab" data-bs-toggle="tab" data-bs-target="#profile-tab-pane" type="button" role="tab" aria-controls="profile-tab-pane" aria-selected="false">Bildanalyse</button>
        </li>
        <li class="nav-item" role="presentation">
            <button class="nav-link" id="contact-tab" data-bs-toggle="tab" data-bs-target="#contact-tab-pane" type="button" role="tab" aria-controls="contact-tab-pane" aria-selected="false">Kartenansicht</button>
        </li>
        <li class="nav-item" role="presentation">
            <button class="nav-link" id="disabled-tab" data-bs-toggle="tab" data-bs-target="#disabled-tab-pane" type="button" role="tab" aria-controls="disabled-tab-pane" aria-selected="false">Forschungsdaten</button>
        </li>
        <li class="nav-item" role="presentation">
            <button class="nav-link" id="disabled-tab" data-bs-toggle="tab" data-bs-target="#derla-tab-pane" type="button" role="tab" aria-controls="derla-tab-pane" aria-selected="false">DERLA-Zeichen</button>
        </li>
    </ul>
    {# Overwrite default styling of bootstrap tabs / piis #}
    <style>
        ul#myTab button {
            color: black;
        }
    
        button.active {
            background-color: lightblue !important;
            color: black !important;
        }
    </style>
    <br/>
    <div class="tab-content bg-white" id="myTabContent">
        <div class="tab-pane fade show active" id="home-tab-pane" role="tabpanel" aria-labelledby="home-tab" tabindex="0">
            <div class="row">
        <div class="col">
            <div class="row row-cols-1 row-cols-md-3 g-4">
                <div class="col">
                    <div class="card border">
                        <div class="card-body">
                            <h5 class="card-title h4">Biografie</h5>
                            <p class="card-text">{{context.object.baseMetadata.description}}</p>
                        </div>
                        <div class="card-footer">
                            <small class="text-body-secondary">&copy; {{context.object.baseMetadata.creator}}</small>
                        </div>
                    </div>
                </div>
                {# Display all images via IIIF adress filtered by mimetype #}
                {% for datastream in context.object.datastreams|sort(attribute='dsid') %}
                    {% if 'image' in datastream.mimeType %}
                        <div class="col">
                            <div class="card border">
                                <div class="card-body">
                                    <h5 class="card-title">{{datastream.baseMetadata.title}} ({{loop.index}})</h5>
                                    <p class="card-text">{{datastream.baseMetadata.description}}</p>
                                    <a href="{{context.env.IIIF_IMAGE_SERVER_ORIGIN}}/iiif/2/{{context.project.projectAbbr}}%2f{{context.object.id}}%2f{{datastream.dsid}}/full/full/0/default.jpg" target="blank">
                                        <img alt="Kein Bild vorhanden" class="border bg-white rounded" src="{{context.env.IIIF_IMAGE_SERVER_ORIGIN}}/iiif/2/memo%2f{{context.object.id}}%2f{{datastream.dsid}}/full/,250/0/default.jpg"/>
                                    </a>
                                </div>
                                <div class="card-footer">
                                    <small class="text-body-secondary">&copy; {{datastream.baseMetadata.creator}}</small>
                                </div>
                            </div>
                        </div>
                    {% endif %}
                {% endfor %}
            </div>
        </div>
    </div>
        </div>
        <div class="tab-pane fade" id="profile-tab-pane" role="tabpanel" aria-labelledby="profile-tab" tabindex="0">
            {# {{ object_viewer() }} #}
            {{ object_dynamic_viewer() }}
        </div>
        <div class="tab-pane fade" id="contact-tab-pane" role="tabpanel" aria-labelledby="contact-tab" tabindex="0">
            {% include "page_objects/person/person_map.j2" %}
            <script>
                const tabEl = document.querySelector('#contact-tab');
                let __initialized = false;
                tabEl.addEventListener('shown.bs.tab', event => {
                    if (__initialized) return;
                    initPersonsMap("{{context.env.GAMS_API_ORIGIN}}/api/v1/projects/memo/objects/{{context.object.id}}/datastreams/EVENTS.json/content");
                })
            </script>
        </div>
        <div class="tab-pane fade" id="disabled-tab-pane" role="tabpanel" aria-labelledby="disabled-tab" tabindex="0">
            <div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">Name: {{ context.object.baseMetadata.title }}</li>
                    <li class="list-group-item">Datum: {{ context.object.dublinCore.date[0].value}}</li>
                    <li class="list-group-item"><a target="_blank" href="{{context.env.GAMS_API_ORIGIN}}/api/v1/projects/{{context.project.projectAbbr}}/objects/{{context.object.id}}/datastreams/RDF.xml/content"><img alt="RDF" height="30" id="rdf" src="{{context.env.DANGEROUS_GAMS3_PRODUCTION_ORIGIN}}/templates/img/RDF_icon.png" title="RDF"></a> RDF</li>
                    <li class="list-group-item"><a target="_blank" href="{{context.env.GAMS_API_ORIGIN}}/api/v1/projects/{{context.project.projectAbbr}}/objects/{{context.object.id}}/datastreams/DC.xml/content"><img alt="RDF" height="30" id="rdf" src="https://upload.wikimedia.org/wikipedia/commons/7/7e/DCMI-logo.svg" title="DC"></a> Dublin Core</li>
                    <li class="list-group-item"><a target="_blank" href="{{context.env.GAMS_API_ORIGIN}}/api/v1/projects/{{context.project.projectAbbr}}/objects/{{context.object.id}}"><img alt="RDF" height="30" id="rdf" src="{{context.env.DANGEROUS_GAMS3_PRODUCTION_ORIGIN}}/templates/img/gams_solo.png" title="Object metadata in the CMS system"></a> Metadatenansicht</li>
                </ul>
                <ul class="list-group list-group-flush">
                    {% for datastream in context.object.datastreams|sort(attribute=dsid) %}
                        <li class="list-group-item"><a target="_blank" href="{{context.env.GAMS_API_ORIGIN}}/api/v1/projects/{{context.project.projectAbbr}}/objects/{{context.object.id}}/datastreams/{{datastream.dsid}}/content">{{datastream.baseMetadata.title}}</a></li>
                    {% endfor %}
                </ul>
            </div>
        </div>

        <div class="tab-pane fade" id="derla-tab-pane" role="tabpanel" aria-labelledby="disabled-tab" tabindex="0">
            {% if context.object.dublinCore.relation | length > 1 %}
                <p class="p-0 m-0 mt-2">Verbundene DERLA-Zeichen:</p>
            {% else %}
                <p class="p-0 m-0 mt-2">Keine Zeichen verbunden</p>
            {% endif %}
            <ul>
                {% for dc_relation in context.object.dublinCore.relation %}
                    {% if 'derla' in dc_relation.value %}
                        <li><a target="_blank" href="{{dc_relation.value}}">{{dc_relation.value}}</a></li>
                    {% endif %}
                {% endfor %}
            </ul>
        
        </div>

    </div>
    

    <br/>
    


    
    
    
     


</div>