{# Definition of global variables / gams_frog variable #}
<script>
    window.gams_frog = {
        "_root_path": "{{context._root_path}}",
        "_template_name": "{{context._template_name}}",
        "_template_file_name": "{{context._template_file_name}}",
        "env": {
            "DANGEROUS_GAMS3_PRODUCTION_ORIGIN": "{{context.env.DANGEROUS_GAMS3_PRODUCTION_ORIGIN}}",
            "DANGEROUS_GAMS5_PRODUCTION_ORIGIN": "{{context.env.DANGEROUS_GAMS5_PRODUCTION_ORIGIN}}",
            "GAMS_API_ORIGIN": "{{context.env.GAMS_API_ORIGIN}}",
            "IIIF_IMAGE_SERVER_ORIGIN": "{{context.env.IIIF_IMAGE_SERVER_ORIGIN}}",
            "GAMS_FROG_MODE": "{{context.env.GAMS_FROG_MODE}}",
            "PROJECT_ABBR": "{{context.project.projectAbbr}}",
            "UI_TITLE": "{{context.env.UI_TITLE}}",
            "UI_VERSION": "{{context.env.UI_VERSION}}"
        },
        "assetMapping": {{context.manifest}}
    }

    // utility function for gams-frog
    window.gams_frog.utils = {}

    window.gams_frog.utils.isProduction = () => {
        return window.gams_frog.env.GAMS_FROG_MODE === "build";
    }

    window.gams_frog.utils.mapAsset = (filePath) => {
        let mappedFilePath = gams_frog.assetMapping[filePath];
        if (!mappedFilePath){
            console.error("StaticAssetFileMappingError: Cannot find expected file:", filePath,"In assetMapping:", gams_frog.assetMapping);
            return "";
        }
        return mappedFilePath;
    }


    // init of i18n variables
    window.gams_frog.i18n = {};
    window.gams_frog.i18n.defaultISOLanguage = 'de';
</script>

{#
  i18n logic of gams_frog
#}
<script src="{{fn.asset('js/i18n/i18n.js')}}"></script>