

<aside class="d-none d-lg-block position-fixed top-50 end-0 pt-2 pb-1 bg-white">
    <ul style="list-style: none;" class="m-0 p-0 me-1">
        <li>
            <a target="_blank" href="{{context.env.DANGEROUS_GAMS3_PRODUCTION_ORIGIN}}" data-i18n="[data-bs-title]sidebar.gams" data-bs-toggle="tooltip" data-bs-title="Geisteswissenschaftliches Asset Management System GAMS">
              <img alt="GAMS" loading="lazy" src="{{fn.asset('img/logos/gams5_small.jpg')}}"/>
            </a> 
        </li>
        <li>
            <a target="_blank" href="https://digital-humanities.uni-graz.at" data-i18n="[data-bs-title]sidebar.ddh" data-bs-toggle="tooltip" data-bs-title="Institut für Digitale Geistewissenschaften (ehemals ZIM)">
                <img alt="ZIM" class="mt-2 ms-1" width="30" src="{{fn.asset('img/logos/zim_small.jpg')}}" loading="lazy" />
            </a>
        </li>
        <li>
            <a class="text-decoration-none text-dark" target="_blank" href="https://juedischestudien.uni-graz.at" data-i18n="[data-bs-title]sidebar.cjs" data-bs-toggle="tooltip" data-bs-title="Centrum für Jüdische Studien">
                <span class="mt-2 ms-1" style="font-size:1.3em;">CJS</span>
            </a>
        </li>
        <li>
            <a class="text-decoration-none text-dark" target="_blank" href="https://www.uni-graz.at" data-i18n="[data-bs-title]sidebar.unigraz" data-bs-toggle="tooltip" data-bs-title="Universität Graz">
                <img class="ms-1" alt="UNI-Graz" width="30" src="{{fn.asset('img/logos/uni-graz_small.jpg')}}"/>
            </a>
        </li>
    </ul>
</aside>