{% from 'parents/i18n.j2' import enable_i18en_logic with context %}

<!doctype html>
<html lang="de" prefix="og: https://ogp.me/ns# dc: http://purl.org/dc/terms schema_org: https://schema.org/">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    {# 
      SEO 
    #}
    {% include "includes/seo.j2" %}

    <title>{{context.project.projectAbbr}} project</title>

    <link rel="icon" type="image/png" href="{{fn.asset('raw/favicon/favicon-96x96.png')}}" sizes="96x96" />
    <link rel="icon" type="image/svg+xml" href="{{fn.asset('raw/favicon/favicon.svg')}}" />
    <link rel="shortcut icon" href="{{fn.asset('raw/favicon/favicon.ico')}}" />
    <link rel="apple-touch-icon" sizes="180x180" href="{{fn.asset('raw/favicon/apple-touch-icon.png')}}" />
    <meta name="apple-mobile-web-app-title" content="Memor" />

    <link rel="manifest" href="{{fn.asset('manifest.json')}}"/>
    <link href="{{fn.asset('lib/bootstrap_5/bootstrap.min.css')}}" rel="stylesheet"/>
    <link href="{{fn.asset('css/project.css')}}" rel="stylesheet"/>

    {#
     Saxon JS is a XSLT 3.0 processor that can be used in the browser.
    #}
    {# <script src="{{context._root_path}}/static/js/SaxonJS3-beta-1.rt.js"></script> #}

    {# Definition of global variables / gams_frog variable #}
    {% include "parents/gams_frog_setup.j2" %}


    {# Register the service worker #}
    <script>
      if ("serviceWorker" in navigator) {
        navigator.serviceWorker.register("{{fn.asset('sw.js')}}").then(
          (registration) => {
            
            // Send the root path to the service worker
            if (registration.active) {
              registration.active.postMessage({
                type: "SET_ROOT_PATH",
                rootPath: window.gams_frog._root_path
              });
            } else if (registration.installing) {
              registration.installing.postMessage({
                type: "SET_ROOT_PATH",
                rootPath: window.gams_frog._root_path
              });
            }
          },
          (error) => {
            console.error(`Service worker registration failed: ${error}`);
          },
      );
      } else {
        console.error("Service workers are not supported.");
      }
    </script>

  </head>

  <body>
    {% include "parents/base/header.j2" %}
    {% include "includes/nav.j2" %}
    {% include "parents/sidebar.j2" %}
    <main class="container-fluid px-3" id="main-container" style="min-height: 50vh;">
      {% block content %}
      {% endblock %}
    </main>
    {% include "includes/footer.j2" %}
    <script src="{{fn.asset('lib/bootstrap_5/bootstrap.bundle.min.js')}}"></script>
    <script type="text/javascript" language="javascript" src="{{fn.asset('js/project.js')}}"></script>


    <script>

      (async () => {

        // i18n (follow up code must wait for the translations)
        await window.gams_frog.i18n.translate();

        // bootstrap tooltips needs the translations available
        const tooltipTriggerList = document.querySelectorAll('[data-bs-toggle="tooltip"]')
        const tooltipList = [...tooltipTriggerList].map(tooltipTriggerEl => new bootstrap.Tooltip(tooltipTriggerEl))

      })();
    </script>


  </body>
</html>