{% from 'parents/i18n.j2' import enable_i18en_logic with context %}

<!doctype html>
<html lang="de" prefix="og: https://ogp.me/ns# dc: http://purl.org/dc/terms schema_org: https://schema.org/">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    {# 
      SEO 
    #}
    {% include "includes/seo.j2" %}

    <title>{{context.project.projectAbbr}} project</title>

    <link rel="icon" type="image/png" href="{{context.asset('img/favicon/favicon-96x96.png')}}" sizes="96x96" />
    <link rel="icon" type="image/svg+xml" href="{{context.asset('img/favicon/favicon.svg')}}" />
    <link rel="shortcut icon" href="{{context.asset('img/favicon/favicon.ico')}}" />
    <link rel="apple-touch-icon" sizes="180x180" href="{{context.asset('img/favicon/apple-touch-icon.png')}}" />
    <meta name="apple-mobile-web-app-title" content="Memor" />

    <link rel="manifest" href="{{context.asset('manifest.json')}}"/>
    <link href="{{context.asset('lib/bootstrap_5/bootstrap.min.css')}}" rel="stylesheet"/>
    <link href="{{context.asset('css/project.css')}}" rel="stylesheet"/>
    <link rel="stylesheet" href="{{context.asset('lib/iconoir/iconoir.css')}}" />


    {#
     Saxon JS is a XSLT 3.0 processor that can be used in the browser.
    #}
    {# <script src="{{context._root_path}}/static/js/SaxonJS3-beta-1.rt.js"></script> #}

    {# Definition of global variables / gams_frog variable #}
    {% include "parents/gams_frog_setup.j2" %}


    {# Register the service worker #}
    <script>
      if ("serviceWorker" in navigator) {
        navigator.serviceWorker.register("{{context.asset('sw.js')}}").then(
          (registration) => {
            //console.log("Service worker registration successful:", registration);
            
            // Send the root path to the service worker
            if (registration.active) {
              registration.active.postMessage({
                type: "SET_ROOT_PATH",
                rootPath: window.gams_frog._root_path
              });
            } else if (registration.installing) {
              registration.installing.postMessage({
                type: "SET_ROOT_PATH",
                rootPath: window.gams_frog._root_path
              });
            }
          },
          (error) => {
            console.error(`Service worker registration failed: ${error}`);
          },
      );
      } else {
        console.error("Service workers are not supported.");
      }
    </script>

  </head>

  <body>
    <header class="bg-light">
  <div class="container-fluid px-4">
    <div class="d-flex align-items-center justify-content-between py-1 gap-3">

      <a href="{{context._root_path}}" class="flex-shrink-0">
        <img width="120"
             src="{{context.asset('img/main_logo.jpg')}}"
             alt="MEMOR Digitales Gedenkbuch – Logo">
      </a>

      <div class="flex-grow-1 d-none d-md-block">
        <div class="mt-xl-4 ps-3 ps-md-4">
          <h1 data-i18n="header.title" class="h1">
            Das Digitale Gedenkbuch der Stadt Graz
          </h1>
          <small data-i18n="header.description">
            MEMOR ist ein digitales Denkmal, das sich der Dokumentation und Visualisierung der Grazer NS-Opfer widmet.
          </small>
        </div>
      </div>
      {#  
      <div class="text-end flex-shrink-0">
        {% include "pages/pwa.j2" %}
      </div>
      #} 
    </div>
  </div>
</header>
    {% include "includes/nav.j2" %}
    {% include "parents/sidebar.j2" %}
    <main class="container-fluid px-3" id="main-container" style="min-height: 50vh;">
    {% block content %}
        {% endblock %}
    </main>
    {% include "includes/footer.j2" %}
    <script src="{{context.asset('lib/bootstrap_5/bootstrap.bundle.min.js')}}"></script>
    <script type="text/javascript" language="javascript" src="{{context.asset('js/project.js')}}"></script>


    <script>

      (async () => {

        // i18n (follow up code must wait for the translations)
        await window.gams_frog.i18n.translate();

        // bootstrap tooltips needs the translations available
        const tooltipTriggerList = document.querySelectorAll('[data-bs-toggle="tooltip"]')
        const tooltipList = [...tooltipTriggerList].map(tooltipTriggerEl => new bootstrap.Tooltip(tooltipTriggerEl))

      })();
    </script>


  </body>
</html>