{# 
 This macro includes a script block exposing the i18n logic applied to  
 a gams project frontend via pollin variable. 
 Under pollin.i18n (check browser console)

 Supplied functionaloty:
 Translates all elements with the data-i18n attribute according
 to language (lang url parameter) defined in the related i18n file.  
 @param defaultLanguage: default language to be used for translation

 1. data-i18n attribute on any html element will be translated (based on ids)
 2. query parameter 'lang' (should be ISO code - e.g. 'de', 'en')
 3. additional translation files in i18n folder in static
 4. internal links will be rewritten to keep current query parameters (like lang)
#}

{% macro enable_i18en_logic(defaultISOLanguage) -%}

<script>

    window.pollin.i18n = {};
    window.pollin.i18n.defaultISOLanguage = '{{defaultISOLanguage}}';

    /**
    * Translates all elements with the data-i18n attribute according
    * to language (lang url parameter) defined in the related i18n file. 
    * @param containerElem All translations / rewritings will happen inside this container defaults to document 
    *
    * 1. data-i18n attribute on any html element will be translated (based on ids)
    * 2. query parameter 'lang' (should be ISO code - e.g. 'de', 'en') is being used to decide for the translation files
    * 3. additional translation files in i18n folder in static (mus also follow iso code e.g. "de.json")
    * 4. internal links will be rewritten to keep current query parameters (like lang)
    */
    window.pollin.i18n.translate = async (containerElem) => {

        if(!containerElem){
            containerElem = document;
        }

        const LANG_QUERY_PARAMETER = "lang"

        let defaultLanguage = window.pollin.i18n.defaultISOLanguage;
        if(defaultLanguage.length == 0){
            defaultLanguage = 'de';
        }

        // use value from url query parameter
        let searchParams = new URLSearchParams(window.location.search);
        const currentLanguage = searchParams.get(LANG_QUERY_PARAMETER) || defaultLanguage;

        let i18nTranslationFileUrl = `/pub/{{context.project.projectAbbr}}/static/i18n/${currentLanguage}.json`;
        
        let response;
        await fetch(i18nTranslationFileUrl)
            .then(resp => {
            if (resp.ok) {
                response = resp;
            } else {
                console.error("pollin-i18n: Failed to fetch translation file for language:", currentLanguage ," at url: ",i18nTranslationFileUrl)
            }
            }).catch(error => {
            console.error("pollin-i18n: Failed to fetch translation file for language:", currentLanguage ," at url: ",i18nTranslationFileUrl);
            return;
        });

        if (!response) {
            return;
        }
        
        let translationMap;
        await response.json().then(
            parsed => {
            translationMap = parsed;
        }).catch(error => {
            console.error("pollin-i18n: Failed to parse translation file for language:", currentLanguage ," at url:"  , i18nTranslationFileUrl);
        });

        if(!translationMap) {
            return;
        }

        /**
        * Using data-i18n attribute to translate according to i18nb files 
        */
        let elementsToBeTranslated = containerElem.querySelectorAll('[data-i18n]');
        elementsToBeTranslated.forEach(element => {
            const key = element.getAttribute('data-i18n');
            if (translationMap[key]) {
                element.innerHTML = translationMap[key];
            }
            else {
                if(!pollin.utils.isProduction()){
                    console.error(`pollin-i18n: No translation found for key: ${key} in translation file:`, translationMap);
                }
            }
        });

        if(!pollin.utils.isProduction()){
            console.debug("pollin-i18n: Successfully applied translation to elements: ", elementsToBeTranslated)
        }

        /**
        Adding to all internal links the lang= query parameter with selected values and maintaining all current search params
        */
        if (currentLanguage === defaultLanguage) return; // skip if default language is being used
        let rewroteCount = 0;
        containerElem.querySelectorAll('a[href]').forEach(link => {
            try {
                const url = new URL(link.href, window.location.origin);
                if (url.origin !== window.location.origin) return;
                const currentSearchParams = new URLSearchParams(window.location.search);
                currentSearchParams.forEach((value, key) => {
                    url.searchParams.set(key, value);
                });
                url.searchParams.set(LANG_QUERY_PARAMETER, currentLanguage);
                link.href = url.toString();
                rewroteCount++;
            } catch(e) { 
                if(!pollin.utils.isProduction()){
                    console.warn("Found malformed href  in link: ", link)
                }
             }
        });

        if(!pollin.utils.isProduction()){
            console.debug("pollin-i18n: Successfully rewrote internal links to maintain current url query parameters (with lang): ", rewroteCount)
        }

    }

</script>

{%- endmacro %}