{% from 'parents/i18n.j2' import enable_i18en_logic with context %}

{# Definition of global variables / pollin variable #}
<script>

    // TODO move to template include? / macro?
    window.pollin = {
    "_root_path": "{{context._root_path}}",
    "_template_name": "{{context._template_name}}",
    "_template_file_name": "{{context._template_file_name}}",
    "env": {
        "DANGEROUS_GAMS3_PRODUCTION_ORIGIN": "{{context.env.DANGEROUS_GAMS3_PRODUCTION_ORIGIN}}",
        "DANGEROUS_GAMS5_PRODUCTION_ORIGIN": "{{context.env.DANGEROUS_GAMS5_PRODUCTION_ORIGIN}}",
        "GAMS_API_ORIGIN": "{{context.env.GAMS_API_ORIGIN}}",
        "IIIF_IMAGE_SERVER_ORIGIN": "{{context.env.IIIF_IMAGE_SERVER_ORIGIN}}",
        "POLLIN_MODE": "{{context.env.POLLIN_MODE}}",
        "PROJECT_ABBR": "{{context.project.projectAbbr}}",
        "UI_TITLE": "{{context.env.UI_TITLE}}",
        "UI_VERSION": "{{context.env.UI_VERSION}}"
    }
    }

    // utility function for the pollin tool
    window.pollin.utils = {}
    window.pollin.utils.isProduction = () => {
    return window.pollin.env.POLLIN_MODE === "build";
    }

</script>

{{ enable_i18en_logic('de') }}