

<aside class="d-none d-lg-block position-fixed top-50 end-0 pt-2 pb-1 bg-white">
    <ul style="list-style: none;" class="m-0 p-0">
        <li>
            <a target="_blank" href="{{context.env.DANGEROUS_GAMS3_PRODUCTION_ORIGIN}}" data-bs-toggle="tooltip" data-bs-title="Geisteswissenschaftliches Asset Management System GAMS">
              <img alt="GAMS" loading="lazy" width="50" src="{{context._root_path}}/static/img/gams5_logo.jpg"/>
            </a> 
        </li>
        <li>
            <a target="_blank" href="https://digital-humanities.uni-graz.at" data-bs-toggle="tooltip" data-bs-title="Institut für Digitale Geistewissenschaften (ehemals ZIM)">
                <img alt="ZIM" class="ms-2 mt-2" width="30" src="{{context.env.DANGEROUS_GAMS3_PRODUCTION_ORIGIN}}/templates/img/ZIM_schwarz.png" loading="lazy" />
            </a>
        </li>
        <li>
            <a class="text-decoration-none text-dark" target="_blank" href="https://juedischestudien.uni-graz.at" data-bs-toggle="tooltip" data-bs-title="Centrum für Jüdische Studien">
                <span class="ms-2 mt-2" style="font-size:1.3em;">CJS</span>
            </a>
        </li>
        <li>
            <a class="text-decoration-none text-dark" target="_blank" href="https://www.uni-graz.at" data-bs-toggle="tooltip" data-bs-title="Universität Graz">
                <img alt="UNI-Graz" class="ms-2" width="30" src="{{context.env.DANGEROUS_GAMS3_PRODUCTION_ORIGIN}}/templates/img/logo_uni_graz_4c.jpg"/>
            </a>
        </li>
    </ul>
</aside>