

<aside class="d-none d-lg-block position-fixed top-50 end-0 pt-2 pb-1 bg-white">
    <ul style="list-style: none;" class="m-0 p-0">
        <li>
           <img loading="lazy" width="50" src="{{context._root_path}}/static/img/gams5_logo.jpg"/><span class="ps-md-2"></span> 
        </li>
        <li>
            <img class="ms-2 mt-2" width="30" src="https://gams.uni-graz.at/templates/img/ZIM_schwarz.png" loading="lazy" />
        </li>
        <li>
            <span class="ms-2 mt-2" style="font-size:1.3em;">CJS</span>
        </li>
        <li>
            <img class="ms-2" width="30" src="https://gams.uni-graz.at/templates/img/logo_uni_graz_4c.jpg"/>
        </li>
    </ul>
</aside>