
{# 
    Macro to display dc.subject stats for the current project.
    Uses the GAMS search API to get facet counts for dc.subject. 
#}
{% macro dc_stats(targetElemId) -%}
    <script>
    
        (async () => {

            let statsContainer = document.createElement("div");

            let searchResultUl = document.createElement("ul");
            statsContainer.appendChild(searchResultUl);

            // some pre selections
            let resultUl = document.createElement("ul");
            resultUl.classList.add("list-group");
            statsContainer.appendChild(resultUl);
            //let resultSpinner = document.querySelector("#searchSpinner")
            let resultCountElement = document.createElement("p");
            statsContainer.appendChild(resultCountElement);
            let searchQueryDisplay = document.createElement("p");
            statsContainer.appendChild(searchQueryDisplay);

            let requestUrl = new URL("https://gams-staging.uni-graz.at/api/v1/integration/search/facets?projects={{ context.project.projectAbbr }}");

            let resp = await fetch(requestUrl.toString());
            let body = await resp.json();


            resultCountElement.innerText = body.result.pagination.totalElements;

            body.availableFacets["dc.subject"].forEach(facetItem => {
                console.log(facetItem);
                let htmlLi = `
                    <li class="list-group-item d-flex justify-content-between align-items-center">
                        ${facetItem.value}
                        <span class="badge bg-primary rounded-pill">${facetItem.count}</span>
                    </li>
                `;
                resultUl.insertAdjacentHTML("beforeend", htmlLi);
            });


            //resultSpinner.remove();

            // append everything to the body
            document.querySelector(`#{{targetElemId}}`).appendChild(resultUl);

        })();
    
    </script>
{%- endmacro %}