<footer class="bg-light">
    <div class="container-fluid">
        <div class="row justify-content-center">
            <div class="col-md-5">
                <div class="p-5">
                    <p>Placeholder</p>
                </div>
            </div>
            <div class="col-md-5">
                <div class="p-5">
                    <p>Kontakt: <a href="mailto:office.cjs@uni-graz.at">office.cjs@uni-graz.at</a></p>
                </div>
            </div>
        </div>
    <div class="row justify-content-center">
        <div class="col-md-5">
            <div class="p-5">
                <p>Ein Projekt des <a href="https://juedischestudien.uni-graz.at/de/">Centrums für Jüdische Studien der Universität Graz</a> und <a href="http://www.clio-graz.net/">CLIO Verein für Geschichts- und Bildungsarbeit</a>.</p>
            </div>
        </div>
        <div class="col-md-5">
            <div class="p-5">
                <p>Gefördert von: <a href="https://www.graz.at">Stadt Graz</a>, <a href="https://www.nationalfonds.org/startseite">Nationalfonds der Republik Österreich</a>, <a href="https://www.zukunftsfonds-austria.at">Zukunftsfonds der Republik Österreich</a>, <a href="https://www.bundeskanzleramt.gv.at">Bundeskanzleramt</a></p>
            </div>
        </div>
    </div>

        <p>&copy; {{context.project.projectAbbr}}</p>
    </div>
</footer>

