<footer class="mt-5">
    <hr/>
    <div class="container-fluid p-md-5">
        <div class="row">
            <div class="col-md-6">
                <p>Ein Projekt des <a href="https://juedischestudien.uni-graz.at/de/" target="_blank">Centrums für Jüdische Studien</a> der Universität Graz und von <a href="http://www.clio-graz.net/" target="_blank">CLIO. Verein für Geschichts- und Bildungsarbeit</a></p>
                <a href="https://juedischestudien.uni-graz.at/de/" target="_blank"><img width="200" loading="lazy" src="https://www.erinnern.at/media/e59a27c48eda40fe9c71cf3354747e74/cfjs-logo-mit-uni-graz-logo.jpg/@@images/image-768-8a965967a62eb49160a603cd8001ec0b.jpeg"/></a>
                <a href="https://dhcraft.org/" target="_blank"><img width="100" loading="lazy" src="https://dhcraft.org/assets/svg/logos/dhcraft_logo_invert.svg"/></a>
                <a href="http://www.clio-graz.net/" target="_blank"><img width="100" loading="lazy" src="https://igkultur.at/sites/default/files/inline-images/%5Bcurrent-user%3Aaccount-name%5D/%5Bcurrent-date%3Ahtml_date%5D/Clio.jpg"/></a>
            </div>
            <div class="col-md-6">
                <p>Gefördert von: Stadt Graz, Nationalfonds der Republik Österreich, Zukunftsfonds der Republik Österreich, Bundeskanzleramt</p>
                <p>Kontakt: office.cjs@uni-graz.at</p>
                <a href="https://www.graz.at/" target="_blank"><img loading="lazy" src="https://www.graz.at/common.ts/g/logo.png"/></a>
                <a href="https://www.nationalfonds.org/startseite" target="_blank"><img loading="lazy" src="https://www.nationalfonds.org/files/themes/images/logos/30jahre_nf_de_sm.png"/></a>
                <a href="https://www.zukunftsfonds-austria.at/index.php" target="_blank"><img width="200" loading="lazy" src="https://www.zukunftsfonds-austria.at/images/zf_logo_428.jpg"/></a>
                <a href="https://www.bundeskanzleramt.gv.at/" target="_blank"><img width="200" loading="lazy" src="https://www.bundeskanzleramt.gv.at/.imaging/default/dam/bka/images/global/BKA_Logo_srgb_w_36hoch.png/jcr:content.png"/></a>
            </div>
        </div>
    </div>
</footer>