<footer>
    <div class="container-fluid">
    <div class="row">
    <p>Ein Projekt des <a></a>Centrums für Jüdische Studien der Universität Graz und von CLIO. Verein für Geschichts- und Bildungsarbeit.</p>
    </div>
        <p>&copy; {{context.project.projectAbbr}}</p>
    </div>
</footer>