<meta name="description" content="MEMO ist ein digitales Denkmal, das sich der Dokumentation und Visualisierung der Grazer NS-Opfer widmet." />
<meta name="publisher" content="DDH Zentrum für Informationsmodellierung - Austrian Centre for Digital Humanities" />
<meta name="content-language" content="de" />
<meta name="author" content="Sebastian David Schiller-Stoff" />
<meta property="og:author" content="Sebastian David Schiller-Stoff" />
<meta property="og:type" content="website" />
<meta property="dc:creator" content="Sebastian David Stoff" />
<meta name="author" content="Sebastian David Schiller-Stoff" />
<meta name="author" content="Sebastian Stoff" />
<meta property="og:description" name="description"
    content="MEMO ist ein digitales Denkmal, das sich der Dokumentation und Visualisierung der Grazer NS-Opfer widmet." />
<meta property="og:locale" content="de" />
<meta property="og:author" name="author" content="Sebastian David Schiller-Stoff" />
<meta property="og:author" name="author" content="Sebastian Stoff" />
<meta property="dc:creator" name="author" content="Sebastian David Schiller-Stoff" />
<meta property="dc:creator" name="author" content="Sebastian Stoff" />
<meta property="og:url" content="ns-opfer-graz.at" />
<meta property="og:type" content="website" />
<meta property="dc:type" content="website" />
<meta name="description"
    content="MEMO ist ein digitales Denkmal, das sich der Dokumentation und Visualisierung der Grazer NS-Opfer widmet." />
<meta name="keywords"
    content="Digital Humanities, Web Development, Software Development, Geographical Information Systems (GIS), Digital Editions, Linked Data, Frontend Development, Economic History, Art History, Natural Language Processing (NLP), History, GIS, HGIS, Semantic Web, Information Design, Information Modelling, Web Engineering, Search Engine Optimization (SEO), Data Science, Digital Archives, Cultural Heritage, Web of Data, Web 2.0, Knowledge Engineering, AI" />
<meta name="schema_org:keywords"
    content="Digital Humanities, Web Development, Software Development, Geographical Information Systems (GIS), Digital Editions, Linked Data, Frontend Development, Economic History, Art History, Natural Language Processing (NLP), History, GIS, HGIS, Semantic Web, Information Design, Information Modelling, Web Engineering, Search Engine Optimization (SEO), Data Science, Digital Archives, Cultural Heritage, Web of Data, Web 2.0, Knowledge Engineering, AI" />
<meta name="twitter:title" content="Sebastian David Schiller-Stoff" />
<meta name="twitter:description"
    content="Sebastian David Schiller-Stoff (Sebastian Stoff). Digital humanist specialised in research software engineering and digital archiving at DDH (former: ZIM) University of Graz." />