{% import 'macros/object_viewer.j2' as macros with context %}

<h1 class="h3 fw-light">{{ object.db.baseMetadata.title }}</h1>
<p class="pb-0 mb-1">Information zu einer einzelnen Person erfasst im MEMO Projekt.</p>
<div>
    <hr/>
    <div class="row">
        <div class="col-md-8">
            {# TODO replace hardcoded server name #}
            <a href="http://localhost:18080/iiif/2/{{project.projectAbbr}}%2f{{object.db.id}}%2f1.jpg/full/full/0/default.jpg" target="blank">
                <img alt="Kein Bild vorhanden" class="border bg-white rounded" src="http://localhost:18080/iiif/2/memo%2f{{object.db.id}}%2f1.jpg/full/,500/0/default.jpg"/>
            </a>
            <a href="http://localhost:18080/iiif/2/{{project.projectAbbr}}%2f{{object.db.id}}%2f2.jpg/full/full/0/default.jpg" target="blank">
                <img alt="Kein Bild vorhanden"class="border bg-white rounded" src="http://localhost:18080/iiif/2/memo%2f{{object.db.id}}%2f2.jpg/full/,500/0/default.jpg"/>
            </a>
        </div>
        <div class="col-md-4">
            <ul class="list-group list-group-flush">
                <li class="list-group-item">Name: {{ object.db.baseMetadata.title }}</li>
                <li class="list-group-item">Datum: {{ object.dc.date[0][0:10] }}</li>
                <li class="list-group-item"><a target="_blank" href="{{'http://localhost:18085/api/v1/projects/memo/objects/' +  object.db.id + '/datastreams/RDF.xml/content' }}"><img alt="RDF" height="30" id="rdf" src="http://gams.uni-graz.at/templates/img/RDF_icon.png" title="RDF"></a> RDF</li>
                <li class="list-group-item"><a target="_blank" href="{{'http://localhost:18085/api/v1/projects/memo/objects/' +  object.db.id + '/datastreams/' + 'DC.xml'  + '/content' }}"><img alt="RDF" height="30" id="rdf" src="https://upload.wikimedia.org/wikipedia/commons/7/7e/DCMI-logo.svg" title="DC"></a> Dublin Core</li>
                <li class="list-group-item"><a target="_blank" href="{{'http://localhost:18085/api/v1/projects/memo/objects/' +  object.db.id}}"><img alt="RDF" height="30" id="rdf" src="http://gams.uni-graz.at/templates/img/gams_solo.png" title="Object metadata in the CMS system"></a> Metadatenansicht</li>

            </ul>
        </div>
    </div>


            
            <br/>
            <h2 class="h4 fw-light">Beschreibung</h1>
            <p>{{ object.db.baseMetadata.description }}</p>

            <br/>
            <h2 class="h4 fw-light">Materialien</h1>
            <ul class="list-group list-group-flush">
                {% for dsid in object.db.datastreams|sort(dsid) %}
                    <li class="list-group-item"><a target="_blank" href="{{ env.GAMS_API_ORIGIN + '/api/v1/projects/memo/objects/' +  object.db.id + '/datastreams/' + dsid + '/content' }}">{{dsid}}</a></li>
                {% endfor %}
            </ul>
            
            <br/>
            <br/>

            <h2 class="h4 fw-light">Verbundenes DERLA Erinnerungszeichen (SAXONJS / GAMS->TEI_SOURCE)</h2>
            <div id="derla_saxon_container">
                <div id="derla_spinner" class="spinner-border" role="status"></div>
            </div>

            <br/>
            <h2 class="h4 fw-light">Ereignisse (SAXONJS / RDF.xml)</h2>
            <div class="row">
                <div class="col-md">
                    <div class="container pt-2 pb-2 bg-light">
                        <div id="saxonjs_container">
                            <div id="spinner" class="spinner-border" role="status"></div>
                        </div>
                    </div>
                </div>
                {# <div class="col-md-6">
                    <div id="saxonjs_container02">
                        <div id="spinner02" class="spinner-border" role="status"></div>
                    </div>
                </div> #}
            </div>

            <script>
                if (window.location.href.includes("memo.person.")){
                    let matches = window.location.pathname.match(/(\d+)/);
                    window.onload = function () {
                            console.log(SaxonJS.getProcessorInfo().productName + " " +
                            SaxonJS.getProcessorInfo().productVersion + " " + SaxonJS.getProcessorInfo().releaseDate);
                            SaxonJS.transform({
                            stylesheetLocation: "/memo/static/xsl/object-rdf.sef.json",
                            sourceLocation: `http://localhost:18085/api/v1/projects/memo/objects/memo.person.${matches[0]}/datastreams/RDF.xml/content`,
                            logLevel: 2
                        },
                        "async").then(result => {
                            document.getElementById("spinner").style = "display: none";
                        });
                    }
                }
            </script>

            {# <script>
                // loading a second RDF file via SaxonJS and xslt for transformation
                window.addEventListener('load', (event) => {
                    let matches = window.location.pathname.match(/(\d+)/);
                    SaxonJS.transform({
                            stylesheetLocation: "/memo/static/xsl/object-rdf02.sef.json",
                            sourceLocation: `http://localhost:18085/api/v1/projects/memo/objects/memo.person.${matches[0]}/datastreams/RDF.xml/content`,
                            logLevel: 2
                        },
                        "async").then(result => {
                            document.getElementById("spinner02").style = "display: none";
                        });
                });
            </script> #}

            <br/>
            <br/>
            <br/>
            <br/>


            {{ macros.object_viewer() }}

            

</div>